<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>YouTube Playlist Length Calculator (error)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/icon type">
    </head>
    <body bgcolor="#7fd9e3">
        <br><br><font style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <center><img src="{{url_for('static', filename='logo.png')}}" align="left" height="100"/>
        <br><br><h1><b><u>YouTube Playlist Length Calculator</u></b></h1>
        <br><br><br>
        <h3><i>Seems like you have entered an incorrect link<br>
        or a link to a private playlist :( <br>
        The website only works for public and unlisted playlists <br>
        Please Try again with another link... </i></h3>
    </center></font>
    </body>
</html>
